<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821587195866-5i6tqsltmhieq6ohnj1unnhrlmoubh3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821587195866-5i6tqsltmhieq6ohnj1unnhrlmoubh3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDjNuArtB9RM1jMjAIBDoKFz7s9G0aDdY8</string>
	<key>GCM_SENDER_ID</key>
	<string>821587195866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.macnpc.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-de2ff</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-de2ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821587195866:ios:9361a2635e01537e10f2e3</string>
</dict>
</plist>